# Supabase — get these from https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://cctavxveivpyatrwyclg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_SWx3Bd2i6ICieNZJr9XYkw_pPVMM_vb
